* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/**
*!   NAVBAR stytles are fopund here.
**/
.navbar {
    color: white;
    align-items: center;
    background-color: #212529;
    padding: 25px 60px !important;
}


.cart {
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: 5px;
    right: 52px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
}

/**
*!  SHOP styles are found here.
**/

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px !important;
    justify-content: center !important;
}

@media(max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}


@media(max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
}

.details {
    padding: 13px;
    min-width: 200px;
    gap: 10px;
}

.buttons {
    gap: 8px;
    font-size: 26px;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

i {
    cursor: pointer;
}

/**
*! Styles for label and 
**/

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red;
}

.HomeBtn:hover {
    transform: scale(.9);
}

.bi-x-lg {
    font-size: 16px;
    color: red;
    font-weight: bolder;
}

/**
*! Styles for Shopping cart
**/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    gap: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#label {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/**
*! Styles for cart-item
**/

.title-price-x {
    justify-content: space-between;
    gap: 30px;
}

.cart-item {
    border: 2px solid #212121;
    border-radius: 6px;
    display: flex;
}

.title-price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-price {
    background-color: #212121;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
}